@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<WebApplication.EthereumHelpers.EthereumContractInfo>


@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div class="alert alert-info alert-dismissable">@ViewBag.Message</div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Contracts</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>Contract Name</th>
                            <th>Contract Address</th>
                            <th>File Name</th>
                            <th>Validate File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var asset in Model)
                        {
                            <tr>
                                <td>@asset.ContractName</td>
                                <td>@asset.ContractAddress</td>
                                <td>@asset.FileName</td>
                                <td>
                                    <form enctype="multipart/form-data" asp-action="ValidateContract">
                                        <input type="hidden" class="form-control" name="contractAddress" value=@asset.ContractAddress />
                                        <input type="file" class="form-control-file" name="file" />
                                        <button type="submit" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-upload"></span>
                                            Validate
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#assets-data-table').DataTable();
        });
    </script>
}


<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-action="ImportContract">
            <div class="form">
                <div class="form-group">
                    <label class="row control-label">Create new smart contract</label>
                    <div class="row">
                        <input type="file" class="form-control-file" name="file"  accept=".docx" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-upload"></span>Import
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
